<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property>
        <name>dfs.nameservices</name>
        <value>{{ nameservice_id }}</value>
    </property>
    <property>
        <name>dfs.ha.namenodes.{{ nameservice_id }}</name>
        <value>{% for nn in dfs_ha_namenodes %}{{ nn }}{% if not loop.last %},{% endif %}{% endfor %}</value>
    </property>
    {% for nn in dfs_ha_namenodes %}
    <property>
        <name>dfs.namenode.rpc-address.{{ nameservice_id }}.{{ nn }}</name>
        <value>{{ dfs_namenode_rpc_address[nn] }}</value>
    </property>
    <property>
        <name>dfs.namenode.http-address.{{ nameservice_id }}.{{ nn }}</name>
        <value>{{ dfs_namenode_http_address[nn] }}</value>
    </property>
    {% endfor %}
    <property>
        <name>dfs.namenode.shared.edits.dir</name>
        <value>qjournal://{% for host in groups['journalnodes'] %}{{ host }}:8485{% if not loop.last %};{% endif %}{% endfor %}/{{ nameservice_id }}</value>
    </property>
    <property>
        <name>dfs.journalnode.edits.dir</name>
        <value>{{ dfs_journalnode_edits_dir }}</value>
    </property>
    <property>
        <name>dfs.client.failover.proxy.provider.{{ nameservice_id }}</name>
        <value>org.apache.hadoop.hdfs.server.namenode.ha.ConfiguredFailoverProxyProvider</value>
    </property>
    <property>
        <name>dfs.ha.fencing.methods</name>
        <value>sshfence</value>
    </property>
    <property>
        <name>dfs.ha.fencing.ssh.private-key-files</name>
        <value>/home/hadoop/.ssh/id_rsa</value>
    </property>
    <property>
        <name>dfs.ha.automatic-failover.enabled</name>
        <value>true</value>
    </property>
    <property>
        <name>dfs.replication</name>
        <value>{{ dfs_replication }}</value>
    </property>
    <property>
        <name>dfs.namenode.name.dir</name>
        <value>{{ dfs_namenode_name_dir }}</value>
    </property>
    <property>
        <name>dfs.datanode.data.dir</name>
        <value>{{ dfs_datanode_data_dir }}</value>
    </property>
</configuration>

