<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property>
        <name>dfs.namenode.rpc-address</name>
        <value>{{ dfs_namenode_rpc_address }}</value>
    </property>
    <property>
        <name>dfs.namenode.http-address</name>
        <value>{{ dfs_namenode_http_address }}</value>
    </property>
    <property>
        <name>dfs.replication</name>
        <value>{{ dfs_replication }}</value>
    </property>
    <property>
        <name>dfs.namenode.name.dir</name>
        <value>{{ dfs_namenode_name_dir }}</value>
    </property>
    <property>
        <name>dfs.datanode.data.dir</name>
        <value>{{ dfs_datanode_data_dir }}</value>
    </property>
</configuration>

