[Unit]
Description=Apache Hive Metastore
After=network.target mysql.service hadoop-namenode.service
Wants=mysql.service

[Service]
Type=simple
User=hadoop
Group=hadoop
Environment=HADOOP_HOME={{ hadoop_home }}
Environment=JAVA_HOME={{ hive_java_home }}
Environment=HIVE_HOME={{ hive_home }}
Environment=HIVE_CONF_DIR={{ hive_home }}/conf
Environment=PATH={{ hive_home }}/bin:{{ hadoop_home }}/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin
ExecStart={{ hive_home }}/bin/hive --service metastore -p {{ hive_metastore_port }}
Restart=on-failure

[Install]
WantedBy=multi-user.target
