[Unit]
Description=Apache ZooKeeper
After=network.target

[Service]
Type=forking
User=zookeeper
Group=zookeeper
ExecStart={{ zk_home }}/bin/zkServer.sh start
ExecStop={{ zk_home }}/bin/zkServer.sh stop
Restart=on-failure

[Install]
WantedBy=multi-user.target
